<ion-header>
  <ion-toolbar color="primary">
    <span>
      <ion-icon name="arrow-back" [routerLink]="['/i-biblioteca']"></ion-icon>
    </span>
    <ion-title>{{libro.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen ion-padding>
  <div class="ion-padding">
    <div>
      <img src="../../assets/img/{{libro.titulo}}.jpg" alt="{{libro.titulo}}">
    </div>
    <div class="info">
      <p><strong>Autor</strong>: <span>{{libro.titulo}}</span></p>
      <p> <strong>Año</strong>: <span>{{libro.anno}}</span></p>
      <p><strong></strong></p>
      <p><strong></strong></p>
    </div>
  </div>
</ion-content>