<ion-header>
  <ion-toolbar color="primary">
    <span>
      <ion-icon name="arrow-back" [routerLink]="['/']"></ion-icon>
    </span>
    <ion-title>iBiblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content fullscreen >
  <ion-item *ngFor="let items of arrayBiblio" [routerLink]="['libro/',items.id]" >
    <ion-thumbnail slot="start" >
      <ion-img src="../../assets/img/{{items.titulo}}.jpg"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h3>{{items.titulo}}</h3>
      <p>Autor: {{items.autor}}</p>
      <p>Año: {{items.anno}}</p>
    </ion-label>
  </ion-item>
  <div>
    <p>prueba</p>
  </div>
</ion-content> -->
<!---->

<!-- Default Refresher -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="arrayBiblio;else notExist">
    <ion-item *ngFor="let items of arrayBiblio" [routerLink]="['libro/',items.id]">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/img/{{items.titulo}}.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h3>{{items.titulo}}</h3>
        <p>Autor: {{items.autor}}</p>
        <p>Año: {{items.anno}}</p>
      </ion-label>
    </ion-item> 
  </ion-list>
  <ng-template #notExist>
    no existe
  </ng-template>
</ion-content>